
@{
    ViewBag.Title = "Index";
}

<div class="card">
    <h3 class="card-header blue-gradient white-text text-uppercase font-weight-normal text-center py-4">
       Home Banners
    </h3>
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable" class="table table-hover table-responsive-sm">
                <thead class="">
                    <tr>
                        <th scope="col" class="text-primary"><i class="fas fa-sort-numeric-down"></i># </th>
                        <th scope="col" class="text-primary"><i class="fas fa-newspaper"></i> Main Title </th>
                        <th scope="col" class="text-primary"><i class="far fa-newspaper"></i> Sub Title </th>
                        <th scope="col" class="text-primary"><i class="fas fa-sign-in-alt"></i> Btn Join </th>
                        <th scope="col" class="text-primary"><i class="fas fa-glasses"></i> Btn Discover </th>
                        <th scope="col" class="text-primary"><i class="fas fa-tools"></i> Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        @*<p class="text-small text-muted mb-0 pt-3">* At vero eos et accusamus et iusto ducimus.</p>*@
    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {

            dataTable = $("#dataTable").DataTable({
                "ajax": {
                  
                    "url": "/ALOTAdmin/HomeBanner/GetHomeBanner",
                    "type": "GET",
                    "datatype": "json",
                    "dom": "lfrtiBp",
                    buttons: [
                        {
                            extend: 'copyHtml5',
                            text: '<i class="glyphicon glyphicon-file"> Copy</i>',
                            titleAttr: 'Copy',


                        },
                        {
                            extend: 'excelHtml5',
                            text: '<i class="glyphicon glyphicon-save-file"> Excel</i>',
                            titleAttr: 'Excel',


                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="glyphicon glyphicon-save-file"> PDF</i>',
                            titleAttr: 'PDF',


                        },

                        {
                            extend: 'print',
                            text: '<i class="glyphicon glyphicon-print"> Print</i>',
                            titleAttr: 'PRINT',


                        },
                        {
                            extend: 'colvis',
                            text: '<i class="glyphicon glyphicon-eye-open"> Visibilité des colonnes</i>',
                            titleAttr: 'Columns Visiblty',


                        },
                    ],

                },
                "columns": [
                    { "data": "Id" },
                    { "data": "MainTitle" },
                    { "data": "SubTitle" },
                    { "data": "JoinButton" },
                    { "data": "DiscoverButton" },

                    {
                        "data": "actions",
                        "className": "dt-body-right",
                        "data": "Id", "render": function (data)

                        {
                            return "<a class='btn btn-info btn-md btn-rounded' onclick=PopupForm('@Url.Action("Edit", "ProjectCounting")/" + data + "')><i class='far fa-edit'></i></a> | <a class='btn btn-default btn-md btn-rounded' onclick=PopupForm('@Url.Action("Details", "ProjectCounting")/" + data + "')><i class='fas fa-info-circle'> </i></a> | <a class='btn btn-danger btn-md btn-rounded' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i></a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }

                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });
    </script>

}