$HeadingTextColor: #dfe8f0;
$HeadingTextWidth: bold;

$PragraphTextColor: #dfe8f0;

$SecondHeadingTextColor: #86949e;
$SecondPragraphTextColor: #86949e;


$BannerExplorationTextColor: #DFE8F0;
$BannerExplorationPragraphTextColor: #DFE8F0;
$BahherExplorationFontWidth:bold;
