$HeadingTextColor: #dfe8f0;
$HeadingTextWidth: bold;

$PragraphTextColor: #dfe8f0;

$SecondHeadingTextColor: #3e5d94;
$SecondPragraphTextColor: #133166;


$BannerExplorationTextColor: #3e5d94;
$BannerExplorationPragraphTextColor: #3e5d94;
$BahherExplorationFontWidth:bold;

$DisplayTextSizeForSmall:2rem;

$FooterHeadingText: #6984b3;
$FooterPraghraphText: #6984b3;
$FooterFontWidth:bold;

$FooterLinksColor: #6984b3
