@import'core/_CustomColor.scss';
@import'_custom-styles.scss';
@import'_custom-variables.scss';



body {
    background-color:$Background-color;
   
}
.body-content
{
    padding-top:$padding-top;
    padding-left:$padding-left;
    padding-right:$padding-right;
}
input,
select,
textarea {
    max-width: 280px;
}
.dl-horizontal dt {
    white-space: normal;
}