@import'core/_CustomColor.scss';
@import'_custom-styles.scss';
@import'_custom-variables.scss';
@import'_CustomNavbar.scss';
@import'_CustomButtons.scss';



@mixin MainNavbar {
    background-color: $navbarBackground !important;
    -webkit-box-shadow: $webkit-box-shadow !important;
    -moz-box-shadow: $-moz-box-shadow !important;
    box-shadow: $Navbar_Box_Shadow !important;

    
   
}

@mixin CollapseNavbar {
    background-color: $NavbarColorForScrolling !important;
    -webkit-box-shadow: $Collapse_webkit-box-shadow !important;
    -moz-box-shadow: $Collapse_moz-box-shadow !important;
    box-shadow: $Collapse_Navbar_Box_Shadow !important;
    color:$CustomNavbarLinkColorScrolling !important;

}

@mixin SmallAndMedumNavbar {
    background-color: $Small_webkit-box-shadow !important;
    -webkit-box-shadow: $Small_moz-box-shadow !important;
    -moz-box-shadow: $Small_Navbar_Box_Shadow !important;
    background-color: $NavbarColorForScrolling !important;
}

@mixin CustomNavbarTextColor{

    color:$customNavbarLinksColor;
    font-weight:$navbarFountStyle;
}
@mixin CustomNavbarTextColorHover {
    color: $NavbarTextHoverColor !important;
    font-weight: $NavbarFontStyleHover !important;;
}
@mixin CustomNavbarTextColorCollapse {
    color: $CustomNavbarLinkColorScrolling;
    font-weight: $navbarFountStyle;
}

@mixin BrandNavbar {
    color: $customNavbarLinksColor;
    font-weight: $navbarFountStyle;
}

@mixin Primarybutton{
    color:$primaryButtonColor !important;
    background-color:$primary-color !important;
}

@mixin HeadingTextColor{
    color:$HeadingTextColor !important;
    font-weight:$HeadingTextWidth !important;
}

@mixin PragraphText{
    color:$PragraphTextColor !important;
}

@mixin NavbarBrandHover{

    color:$NavbarFontColor;
}

@mixin BannerBackground_1920 {
    background-image: url(../Images/1920_GigBackgroundFinal.svg);
    background-size: cover;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1024px;
    padding-top: 120px;

    .textColorForSecondHeading {
        margin-top: 80px !important;
        margin-bottom: 0px;
    }
}
@mixin BannerBackground_1440 {
    background-image: url(../Images/1440_GigBackgroundFinal.svg);
    background-size: cover;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    padding-top: 100px;

    .textColorForSecondHeading {
        margin-top: 60px !important;
        margin-bottom: 0px;
    }
}
@mixin BannerBackground_1366 {
    background-image: url(../Images/1360_GigBackgroundTest.svg);
    background-size: cover;
    background-position:center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 700px;
    padding-top: 100px;

    .textColorForSecondHeading {
        margin-top: 30px !important;
        margin-bottom:0px;
    }
}
@mixin BannerBackground_990 {
    background-image: url(../Images/1360_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px;
    padding-top: 130px;

    .textColorForSecondHeading {
        margin-top: 0px !important;
       
    }
}

@mixin BannerBackground_768 {
    background-image: url(../Images/768_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 850px;
   

    .textColorForSecondHeading {
        margin-top: 0px !important;
    }
}
@mixin BannerBackground_530 {
    background-image: url(../Images/768_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px;


    .textColorForSecondHeading {
        margin-top: 0px !important;
    }
}



@mixin Explorationbanner1920 {
    background-image: url(../Images/1920ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
    width: auto;
}
@mixin Explorationbanner1360 {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position:center;
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width:auto;
   

   
}
@mixin Explorationbanner1280 {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto;
}
@mixin Explorationbanner1024 {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto;
}
@mixin Explorationbanner990 {
    background-image: url(../Images/1024ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
    width: auto;
}
@mixin Explorationbanner768 {
    background-image: url(../Images/768ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 400px;
    width: auto;
}
@mixin Explorationbanner530 {
    background-image: url(../Images/530ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 500px;
    width: auto;
}

//Our Vision

@mixin OurVisionFullSize {
    background-image: url(../Images/OurVison.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 700px;
    width: auto;
}

@mixin OurVisionSmallSize {
    background-image: url(../Images/768OurVision.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto;
}



@mixin CourseEachSectionShadow {
    border-radius: .25rem;
    box-shadow: -3px -2px 5px -46px rgba(0,0,0,0.75) !important;
    -webkit-box-shadow: -3px -2px 5px -46px rgba(0,0,0,0.75) !important ;
    -moz-box-shadow: -3px -2px 5px -46px rgba(0,0,0,0.75) !important ;
}

.card.card-cascade .view.view-cascade{
    @include CourseEachSectionShadow;
}
@mixin BannerSecondHeading {
    color: $SecondHeadingTextColor !important;
    font-weight: $SecondPragraphTextColor !important;
}

@mixin HomeBannerExplorationFontColor{

    .display-2{
        color:$BannerExplorationTextColor !important;
        font-weight:$BahherExplorationFontWidth !important;
    }
    p{
        color:$BannerExplorationPragraphTextColor !important;
    }
    h1,h2,h3,h4,h5,h6{
        color:$BannerExplorationPragraphTextColor !important;
        
    }
}
@mixin HomeBannerExplorationFontColor {

    .display-2 {
        color: $BannerExplorationTextColor !important;
        font-weight: $BahherExplorationFontWidth !important;
    }

    p {
        color: $BannerExplorationPragraphTextColor !important;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $BannerExplorationPragraphTextColor !important;
    }
}
@mixin HomeBannerExplorationFontColorSmallSize {

    .display-2 {
        color: $BannerExplorationTextColor !important;
        font-weight: $BahherExplorationFontWidth !important;
        font-size:$DisplayTextSizeForSmall !important;
    }

    p {
        color: $BannerExplorationPragraphTextColor !important;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $BannerExplorationPragraphTextColor !important;
    }
}

@media(min-width:300px) and (max-width:768px)
{
    .HomebannerExplorationTextColor {

        @include HomeBannerExplorationFontColorSmallSize;
    }
}

.HomebannerExplorationTextColor {

   @include HomeBannerExplorationFontColor;
}

html, body, header, .view {
    height: $bodyandViewHieght;
}

body {
  
    background-color:#FBFBFB !important;
    font-family:$FamilyFont;
   
}
.body-content
{
    padding-top:$padding-top;
    padding-left:$padding-left;
    padding-right:$padding-right;
}
input,
select,
textarea {
    max-width: 280px;
}
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    @include MainNavbar
}
.top-nav-collapse {
   
   @include CollapseNavbar;
   @include CustomNavbarTextColorCollapse;
   color:$NavbarFontColor!important;
}
@media only screen and (max-width: 990px) {
    .navbar {
        @include SmallAndMedumNavbar
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        @include SmallAndMedumNavbar
    }
}
.navbar-nav .nav-link{

    @include CustomNavbarTextColor
}
.navbar-nav .nav-link:hover {

    @include CustomNavbarTextColorHover;
}

.navbar-brand{

    @include BrandNavbar
}
.navbar-brand:hover {

   @include NavbarBrandHover;
}

#LoginNavbarButton {
    @include BrandNavbar
}

.btn {
    @include Primarybutton
}









.textColor {
    @include HeadingTextColor
}
p {
    @include PragraphText;
}

.textColorForSecondHeading {
    h1 {
        color: $SecondHeadingTextColor !important;
        text-align: center;
        font-weight:$HeadingTextWidth !important;
    }

    p {
        color: $SecondPragraphTextColor !important;
        text-align: center;
       
    }
}





//First Home Banner

@media(min-wdith:1720px) and (max-width:1920px) {
    .HomeBannerMainSection {
        @include BannerBackground_1920;
    }
}

@media(max-width:1920px)
{
    .HomeBannerMainSection{
        @include BannerBackground_1920;
    }
}

@media(min-width:1366px) and (max-width:1440px)
{
    .HomeBannerMainSection {
        @include BannerBackground_1440;
    }
}


@media(max-width:1366px) {
    .HomeBannerMainSection {
        @include BannerBackground_1366;
    }
}

@media(max-width:768px)
{
    .HomeBannerMainSection {
        @include BannerBackground_768;
    }
}
@media(min-width:300px) and (max-width:550px) {
    .HomeBannerMainSection {
        @include BannerBackground_530;
    }
}

//SecondHomeBanner

@media(min-width:1920px) {
    .SecondHomeBanner {
        @include Explorationbanner1920;
    }
}
@media(min-width:1360px) and (max-width:1440px)
{
    .SecondHomeBanner {
        @include Explorationbanner1360
    }
}

@media(min-width:1280px) and (max-width:1360px) {
    .SecondHomeBanner {
        @include Explorationbanner1280;
    }
}
@media(min-width:990px) and (max-width:1280px) {
    .SecondHomeBanner {
        @include Explorationbanner1024;
    }
}
@media(min-width:768px) and (max-width:990px) {
    .SecondHomeBanner {
        @include Explorationbanner990;
    }
}
@media(min-width:500px) and (max-width:768px) {
    .SecondHomeBanner {
        @include Explorationbanner768;
    }
}
@media(min-width:300px) and (max-width:500px) {
    .SecondHomeBanner {
        @include Explorationbanner530;
    }
}




.OurVisonmainBackground {
    @include OurVisionFullSize {
    }
}

@media(min-width:300px) and (max-width:768px)
{
    .OurVisonmainBackground {
        @include OurVisionSmallSize {
        }
    }
}









