.card.card-cascade .view.view-cascade {
  border-radius: .25rem;
  box-shadow: -3px -2px 5px -46px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: -3px -2px 5px -46px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: -3px -2px 5px -46px rgba(0, 0, 0, 0.75) !important; }

.FooterFontStyle p {
  color: #6984b3 !important; }
.FooterFontStyle h1, .FooterFontStyle h2, .FooterFontStyle h3, .FooterFontStyle h4, .FooterFontStyle h5, .FooterFontStyle h6 {
  color: #6984b3 !important;
  font-weight: bold !important; }

.linksStyle a {
  color: #6984b3 !important; }
.linksStyle i {
  color: #6984b3 !important; }

.UserBenefitsTextStyle h1, .UserBenefitsTextStyle h2, .UserBenefitsTextStyle h3, .UserBenefitsTextStyle h4, .UserBenefitsTextStyle h5, .UserBenefitsTextStyle h6 {
  color: #7b98c9 !important;
  font-weight: bold !important; }
.UserBenefitsTextStyle p {
  color: #7b98c9 !important; }

@media (min-width: 300px) and (max-width: 768px) {
  .HomebannerExplorationTextColor .display-2 {
    color: #6984b3 !important;
    font-weight: bold !important;
    font-size: 2rem !important; }
  .HomebannerExplorationTextColor p {
    color: #6984b3 !important; }
  .HomebannerExplorationTextColor h1, .HomebannerExplorationTextColor h2, .HomebannerExplorationTextColor h3, .HomebannerExplorationTextColor h4, .HomebannerExplorationTextColor h5, .HomebannerExplorationTextColor h6 {
    color: #6984b3 !important; } }
.QuizMainBackground {
  background-image: url(../Images/NotSure.svg);
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 600px;
  width: auto; }

@media (min-width: 500px) and (max-width: 768px) {
  .QuizMainBackground {
    background-image: url(../Images/NotSure768.svg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    width: auto;
    margin-top: 50px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .QuizMainBackground {
    background-image: url(../Images/NotSure768.svg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    width: auto;
    margin-top: 50px; } }
.HomebannerExplorationTextColor .display-2 {
  color: #6984b3 !important;
  font-weight: bold !important; }
.HomebannerExplorationTextColor p {
  color: #6984b3 !important; }
.HomebannerExplorationTextColor h1, .HomebannerExplorationTextColor h2, .HomebannerExplorationTextColor h3, .HomebannerExplorationTextColor h4, .HomebannerExplorationTextColor h5, .HomebannerExplorationTextColor h6 {
  color: #6984b3 !important; }

html, body, header, .view {
  height: 100%; }

body {
  background-color: #FBFBFB !important;
  font-family: "Ubuntu", sans-serif; }

.body-content {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px; }

.dl-horizontal dt {
  white-space: normal; }

.navbar {
  background-color: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
  -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important; }

.top-nav-collapse {
  background-color: #133166 !important;
  -webkit-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
  -moz-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
  box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
  color: #dfe8f0 !important;
  color: #dfe8f0;
  font-weight: bold;
  color: #c3d8e6 !important; }

@media only screen and (max-width: 990px) {
  .navbar {
    background-color: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    -webkit-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    -moz-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    background-color: #133166 !important; } }
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    -webkit-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    -moz-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    background-color: #133166 !important; } }
.navbar-nav .nav-link {
  color: #f2f8fc;
  font-weight: bold; }

.navbar-nav .nav-link:hover {
  color: #c3d8e6 !important;
  font-weight: bold !important; }

.navbar-brand {
  color: #f2f8fc;
  font-weight: bold; }

.navbar-brand:hover {
  color: #c3d8e6; }

#LoginNavbarButton {
  color: #f2f8fc;
  font-weight: bold; }

.btn {
  color: #f2f8fc !important;
  background-color: #194085 !important; }

.textColor {
  color: #dfe8f0 !important;
  font-weight: bold !important; }

p {
  color: #dfe8f0 !important; }

.textColorForSecondHeading h1, .textColorForSecondHeading h2, .textColorForSecondHeading h3, .textColorForSecondHeading h4, .textColorForSecondHeading h5, .textColorForSecondHeading h6, .textColorForSecondHeading th, .textColorForSecondHeading td {
  color: #3e5d94 !important;
  text-align: center;
  font-weight: bold !important; }
.textColorForSecondHeading p {
  color: #133166 !important;
  text-align: center; }

.TextColorForHeading h1, .TextColorForHeading h2, .TextColorForHeading h3, .TextColorForHeading h4, .TextColorForHeading h5, .TextColorForHeading h6, .TextColorForHeading th, .TextColorForHeading td {
  color: #3e5d94 !important;
  text-align: center;
  font-weight: bold !important; }
.TextColorForHeading p {
  color: #133166 !important; }

@media (min-wdith: 1720px) and (max-width: 1920px) {
  .HomeBannerMainSection {
    background-image: url(../Images/1920_GigBackgroundFinal.svg);
    background-size: cover;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1024px;
    padding-top: 120px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 80px !important;
      margin-bottom: 0px; } }
@media (max-width: 1920px) {
  .HomeBannerMainSection {
    background-image: url(../Images/1920_GigBackgroundFinal.svg);
    background-size: cover;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1024px;
    padding-top: 120px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 80px !important;
      margin-bottom: 0px; } }
@media (min-width: 1366px) and (max-width: 1440px) {
  .HomeBannerMainSection {
    background-image: url(../Images/1440_GigBackgroundFinal.svg);
    background-size: cover;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    padding-top: 100px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 60px !important;
      margin-bottom: 0px; } }
@media (max-width: 1366px) {
  .HomeBannerMainSection {
    background-image: url(../Images/1360_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 700px;
    padding-top: 100px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 30px !important;
      margin-bottom: 0px; } }
@media (max-width: 768px) {
  .HomeBannerMainSection {
    background-image: url(../Images/768_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 850px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 0px !important; } }
@media (min-width: 300px) and (max-width: 550px) {
  .HomeBannerMainSection {
    background-image: url(../Images/768_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 0px !important; } }
@media (min-width: 1920px) {
  .SecondHomeBanner {
    background-image: url(../Images/1920ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
    width: auto; } }
@media (min-width: 1360px) and (max-width: 1440px) {
  .SecondHomeBanner {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto; } }
@media (min-width: 1280px) and (max-width: 1360px) {
  .SecondHomeBanner {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto; } }
@media (min-width: 990px) and (max-width: 1280px) {
  .SecondHomeBanner {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto; } }
@media (min-width: 768px) and (max-width: 990px) {
  .SecondHomeBanner {
    background-image: url(../Images/1024ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
    width: auto; } }
@media (min-width: 500px) and (max-width: 768px) {
  .SecondHomeBanner {
    background-image: url(../Images/768ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 400px;
    width: auto; } }
@media (min-width: 300px) and (max-width: 500px) {
  .SecondHomeBanner {
    background-image: url(../Images/530ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 500px;
    width: auto; } }
.OurVisonmainBackground {
  background-image: url(../Images/OurVison.svg);
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 700px;
  width: auto; }

@media (min-width: 300px) and (max-width: 768px) {
  .OurVisonmainBackground {
    background-image: url(../Images/768OurVision.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 750px;
    width: auto; } }
.FooterMainBackground {
  background-image: url(../Images/Footer.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: center;
  width: 100%;
  height: 830px;
  flex-direction: row; }

@media (min-width: 1360px) and (max-width: 1920px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 1360px) and (max-width: 1440px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 990px) and (max-width: 1180px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer1180.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 800px) and (max-width: 990px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer990.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 769px) and (max-width: 800px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer769.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 500px) and (max-width: 767px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer500.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 1600px;
    flex-direction: row; } }
@media (min-width: 200px) and (max-width: 500px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer500.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 1600px;
    flex-direction: row; } }
.BackgroundAnimation {
  position: relative;
  top: 0px;
  left: 0px; }

.AnimationMainBackground {
  position: absolute;
  top: -150px;
  left: 0px;
  height: 500px;
  width: 500px;
  z-index: -1; }

.AnimationMainBackground lottie-player {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 500px;
  width: 500px; }

@media (min-width: 500px) and (max-width: 768px) {
  .BackgroundAnimation {
    position: relative;
    top: 0px;
    left: 0px; }

  .AnimationMainBackground {
    position: absolute;
    top: -100px;
    left: 0px;
    height: 500px;
    width: 500px;
    z-index: -1; }

  .AnimationMainBackground lottie-player {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 500px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .BackgroundAnimation {
    position: relative;
    top: 0px;
    left: 0px; }

  .AnimationMainBackground {
    position: absolute;
    top: -100px;
    left: 0px;
    height: 500px;
    width: 500px;
    z-index: -1; }

  .AnimationMainBackground lottie-player {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 500px; } }
    /*.QuizMainContent h1, p {
    position: absolute;
    top: 100px;
    left: 0px;
}*/
.AboutBannerMainSection {
  background-image: url(../Images/1440-AboutBanner.svg);
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 664px; }

@media (min-width: 1500px) and (max-width: 1920px) {
  .AboutBannerMainSection {
    background-image: url(../Images/1440-AboutBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1024px; } }
@media (max-width: 990px) {
  .AboutBannerMainSection {
    background-image: url(../Images/1000-AboutBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 664px;
    padding-top: 100px; } }
@media (min-width: 500px) and (max-width: 768px) {
  .AboutBannerMainSection {
    background-image: url(../Images/780-AboutBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 870px;
    padding-top: 100px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .AboutBannerMainSection {
    background-image: url(../Images/500-AboutBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 930px;
    padding-top: 100px; } }
/*.UserBenefitsBackground {
    background-image: url(../Images/UserBenefits.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 500px;
    margin-top:20px;
}*/
@media (min-width: 1500px) and (max-width: 1920px) {
  .UserBenefitsBackground {
    @Include UserBenefitsBackgroundFullSize; } }
@media (min-width: 1500px) and (max-width: 1920px) {
  .UserBenefitsBackground {
    background-image: url(../Images/UserBenefits.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    margin-top: 20px; } }
@media (min-width: 768px) and (max-width: 1500px) {
  .UserBenefitsBackground {
    background-image: url(../Images/UserBenefits.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 500px;
    margin-top: 20px; } }
@media (min-width: 300px) and (max-width: 768px) {
  .UserBenefitsBackground {
    background-image: url(../Images/768UserBenefits.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 700px;
    margin-top: 20px; } }
.HowOnlineTrainingWorkbackground {
  background-image: url(../Images/HowTrainingWorks.svg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  width: auto;
  border-radius: 5px; }

.GoogleReviewbackground {
  background-image: url(../Images/GoogleReview.svg);
  background-position: center;
  background-size: cover;
  height: auto; }

.chip {
  background-color: #2d5191 !important;
  color: #b3cbf5 !important; }

.TrainerPhilosophyBackground {
  background-image: url(../Images/TrainePhilsophy.svg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  border-radius: 7px; }

@Mixin TabCardBackground {
  -webkit-box-shadow: 0px 0px 0px -7px rgba(0, 0, 0, 0.64) !important;
  box-shadow: 0px 0px 8px 3px rgba(95, 136, 255, 0.42) !important; }
.Card_Background {
  @Include TabCardBackground;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03) !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03) !important; }

.TabColor {
  background-color: #133166 !important; }

@media (min-width: 300px) and (max-width: 500px) {
  .textColorForSecondHeading {
    margin-top: 100px !important; }

  .BenefitsOfOnlineClassSizing {
    margin-top: 130px !important; } }
.ContactMainBanner {
  background-image: url(../Images/ContactMainBanner.svg);
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 750px; }

@media (min-width: 1500px) and (max-width: 1920px) {
  .ContactMainBanner {
    background-image: url(../Images/ContactMainBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px; } }
@media (min-width: 500px) and (max-width: 768px) {
  .ContactMainBanner {
    background-image: url(../Images/ContactMainBanner768.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .ContactMainBanner {
    background-image: url(../Images/ContactMainBanner500.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 850px; } }
@media (min-width: 769px) and (max-width: 990px) {
  .ContactUsEx {
    margin-top: 100px; } }
@media (min-width: 300px) and (max-width: 768px) {
  .ContactUsEx {
    margin-top: 0px; }

  .ContactmainContent {
    margin-top: 100px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .ContactUsEx {
    margin-top: 0px; }

  .ContactmainContent {
    margin-top: 100px; }

  .ContactMainTitle {
    margin-top: 100px; } }
.ContactDetailsBackground {
  background-image: url(../Images/CotnactDetails.svg);
  background-size: cover;
  background-attachment: fixed;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 790px; }

@media (min-width: 768px) and (max-width: 900px) {
  .ContactDetailsBackground {
    background-image: url(../Images/CotnactDetails.svg);
    background-size: cover;
    background-attachment: fixed;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 790px;
    padding-top: 100px; } }
@media (min-width: 500px) and (max-width: 768px) {
  .ContactDetailsBackground {
    background-image: url(../Images/CotnactDetails500.svg);
    background-size: cover;
    background-attachment: fixed;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1050px;
    padding-top: 100px;
    margin-top: 50px; } }
@media (min-width: 250px) and (max-width: 500px) {
  .ContactDetailsBackground {
    background-image: url(../Images/CotnactDetails500.svg);
    background-size: cover;
    background-attachment: fixed;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1190px;
    padding-top: 60px;
    margin-top: 150px; } }
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto; }

.table-wrapper-scroll-y {
  display: block; }

.CoursesMainBanner {
  background-image: url(../Images/ContactMainBanner.svg);
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 800px; }

@media (min-width: 1500px) and (max-width: 1920px) {
  .CoursesMainBanner {
    background-image: url(../Images/ContactMainBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px; } }
@media (min-width: 768px) and (max-width: 990px) {
  .CoursesMainBanner {
    background-image: url(../Images/ContactMainBanner990.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 850px;
    padding-top: 100px; }
    .CoursesMainBanner .CoursesSecondContent {
      margin-top: 200px; } }
@media (min-width: 500px) and (max-width: 768px) {
  .CoursesMainBanner {
    background-image: url(../Images/ContactMainBanner768.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 950px;
    padding-top: 150px; }
    .CoursesMainBanner .CoursesSecondContent {
      margin-top: 0px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .CoursesMainBanner {
    background-image: url(../Images/ContactMainBanner500.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px;
    padding-top: 100px; }
    .CoursesMainBanner .CoursesSecondContent {
      margin-top: 0px; } }
.LuanchingCodingBackground {
  background-image: url(../Images/LaunchingCoding.svg);
  background-size: cover;
  background-attachment: fixed;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 600px;
  border-radius: 5px; }

@media (min-width: 500px) and (max-width: 768px) {
  .LuanchingCodingBackground {
    background-image: url(../Images/LaunchingCoding768.svg);
    background-size: cover;
    background-attachment: fixed;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1000px;
    border-radius: 5px;
    margin-top: 100px; } }
@media (min-width: 280px) and (max-width: 500px) {
  .LuanchingCodingBackground {
    background-image: url(../Images/LaunchingCoding768.svg);
    background-size: cover;
    background-attachment: fixed;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 950px;
    border-radius: 5px;
    margin-top: 150px; } }
#WhoIsThisProgramFor {
  -webkit-box-shadow: 0px 2px 34px 1px rgba(86, 139, 204, 0.33) !important;
  box-shadow: 0px 2px 34px 1px rgba(86, 139, 204, 0.33) !important;
  -moz-box-shadow: 0px 2px 34px 5px rgba(86, 139, 204, 0.35) !important;
  border-radius: 4px; }

.card.card-cascade .view.view-cascade.card-shwadow {
  -webkit-box-shadow: 0px 0px 8px 3px rgba(95, 136, 255, 0.42) !important;
  box-shadow: 0px 0px 8px 3px rgba(95, 136, 255, 0.42) !important;
  border-radius: 4px; }

.card-background-color {
  background-color: #FBFBFB !important; }

#AvatarImage img {
  height: 80px !important;
  width: 80px !important; }

.AnimationBackground {
  position: relative;
  top: 0px;
  left: 0px; }

.animationPosition lottie-player {
  position: absolute;
  left: 0;
  top: -150px;
  height: 500px;
  width: auto;
  z-index: -1; }

.QuikLinkBakcground {
  background-image: url(../Images/QuikLinks.svg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 5px !important; }

.ForBusinessMainBackground {
  background-image: url(../Images/ForBusiness.svg);
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 750px;
  padding-top: 50px; }
  .ForBusinessMainBackground .ForBusinessBannerExpolration {
    margin-top: 50px; }

@media (min-width: 1700px) and (max-width: 1920px) {
  .ForBusinessMainBackground {
    background-image: url(../Images/ForBusiness.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    padding-top: 100px; }
    .ForBusinessMainBackground .ForBusinessBannerExpolration {
      margin-top: 100px; } }
@media (min-width: 768px) and (max-width: 990px) {
  .ForBusinessMainBackground {
    background-image: url(../Images/ForBusiness.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    padding-top: 100px; }
    .ForBusinessMainBackground .ForBusinessBannerExpolration {
      margin-top: 130px; } }
@media (min-width: 500px) and (max-width: 768px) {
  .ForBusinessMainBackground {
    background-image: url(../Images/ForBusiness.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1000px;
    padding-top: 100px; }
    .ForBusinessMainBackground .ForBusinessBannerExpolration {
      margin-top: 0px; } }
@media (min-width: 250px) and (max-width: 500px) {
  .ForBusinessMainBackground {
    background-image: url(../Images/ForBusiness.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px;
    /*padding-top: 100px;*/ }
    .ForBusinessMainBackground .ForBusinessBannerExpolration {
      margin-top: 0px; } }
.CustomBannerFontStyle p {
  color: #3e5d94 !important; }
.CustomBannerFontStyle h1, .CustomBannerFontStyle h2, .CustomBannerFontStyle h3, .CustomBannerFontStyle h4, .CustomBannerFontStyle h5, .CustomBannerFontStyle h6 {
  color: #3e5d94 !important;
  font-weight: bold !important; }

.TrustedMainBackground {
  padding-top: 10px; }

@media (min-width: 300px) and (max-width: 768px) {
  .TrustedMainBackground {
    margin-top: 150px; } }
.CardBackground {
  background-image: url(../Images/LaunchingCoding.svg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

.UPSkillingEmployeesBackground {
  background-image: url(../Images/LaunchingCoding.svg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: auto; }

.builSectionBackground {
  position: absolute;
  top: 0px;
  left: 0px; }

.builSectionBackground lottie-player {
  z-index: -1; }

.ImgBackground img {
  position: relative;
  top: 0px;
  left: 0px; }

.VisionAnimation lottie-player {
  position: absolute;
  top: 0px;
  left: 0px; }

.VisionImageBackground img {
  position: relative;
  top: 0px;
  left: 0px; }

.OurVisonMainbackground {
  background-image: url(../Images/VisionBanner.svg);
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 700px;
  z-index: -1; }

@media (min-width: 500px) and (max-width: 768px) {
  .OurVisonMainbackground {
    background-image: url(../Images/VisionBanner768.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    z-index: -1; } }
.LoginMainBackground {
  background-image: url(../Images/VisionBanner.svg);
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding-top: 70px; }

@media (min-width: 1260px) and (max-width: 1366px) {
  .LoginMainBackground {
    background-image: url(../Images/VisionBanner1366.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh; } }
@media (min-width: 500px) and (max-width: 768px) {
  .LoginMainBackground {
    background-image: url(../Images/VisionBanner768.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1150px; } }
@media (min-width: 400px) and (max-width: 500px) {
  .LoginMainBackground {
    background-image: url(../Images/VisionBanner768.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1100px; } }
@media (min-width: 200px) and (max-width: 400px) {
  .LoginMainBackground {
    background-image: url(../Images/LoginBackground500.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 950px; } }
.btn-default {
  background-color: red !important;
  color: white !important; }

/*# sourceMappingURL=Site.css.map */
