.card.card-cascade .view.view-cascade {
  border-radius: .25rem;
  box-shadow: -3px -2px 5px -46px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: -3px -2px 5px -46px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: -3px -2px 5px -46px rgba(0, 0, 0, 0.75) !important; }

.FooterFontStyle p {
  color: #6984b3 !important; }
.FooterFontStyle h1, .FooterFontStyle h2, .FooterFontStyle h3, .FooterFontStyle h4, .FooterFontStyle h5, .FooterFontStyle h6 {
  color: #6984b3 !important;
  font-weight: bold !important; }

.linksStyle a {
  color: #6984b3 !important; }
.linksStyle i {
  color: #6984b3 !important; }

@media (min-width: 300px) and (max-width: 768px) {
  .HomebannerExplorationTextColor .display-2 {
    color: #3e5d94 !important;
    font-weight: bold !important;
    font-size: 2rem !important; }
  .HomebannerExplorationTextColor p {
    color: #3e5d94 !important; }
  .HomebannerExplorationTextColor h1, .HomebannerExplorationTextColor h2, .HomebannerExplorationTextColor h3, .HomebannerExplorationTextColor h4, .HomebannerExplorationTextColor h5, .HomebannerExplorationTextColor h6 {
    color: #3e5d94 !important; } }
.QuizMainBackground {
  background-image: url(../Images/NotSure.svg);
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 600px;
  width: auto; }

@media (min-width: 500px) and (max-width: 768px) {
  .QuizMainBackground {
    background-image: url(../Images/NotSure768.svg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    width: auto;
    margin-top: 50px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .QuizMainBackground {
    background-image: url(../Images/NotSure768.svg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 800px;
    width: auto;
    margin-top: 50px; } }
.HomebannerExplorationTextColor .display-2 {
  color: #3e5d94 !important;
  font-weight: bold !important; }
.HomebannerExplorationTextColor p {
  color: #3e5d94 !important; }
.HomebannerExplorationTextColor h1, .HomebannerExplorationTextColor h2, .HomebannerExplorationTextColor h3, .HomebannerExplorationTextColor h4, .HomebannerExplorationTextColor h5, .HomebannerExplorationTextColor h6 {
  color: #3e5d94 !important; }

html, body, header, .view {
  height: 100%; }

body {
  background-color: #FBFBFB !important;
  font-family: "Ubuntu", sans-serif; }

.body-content {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px; }

input,
select,
textarea {
  max-width: 280px; }

.dl-horizontal dt {
  white-space: normal; }

.navbar {
  background-color: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
  -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important; }

.top-nav-collapse {
  background-color: #133166 !important;
  -webkit-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
  -moz-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
  box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
  color: #dfe8f0 !important;
  color: #dfe8f0;
  font-weight: bold;
  color: #c3d8e6 !important; }

@media only screen and (max-width: 990px) {
  .navbar {
    background-color: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    -webkit-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    -moz-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    background-color: #133166 !important; } }
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    -webkit-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    -moz-box-shadow: -1px 10px 9px -7px rgba(0, 0, 0, 0.53) !important;
    background-color: #133166 !important; } }
.navbar-nav .nav-link {
  color: #f2f8fc;
  font-weight: bold; }

.navbar-nav .nav-link:hover {
  color: #c3d8e6 !important;
  font-weight: bold !important; }

.navbar-brand {
  color: #f2f8fc;
  font-weight: bold; }

.navbar-brand:hover {
  color: #c3d8e6; }

#LoginNavbarButton {
  color: #f2f8fc;
  font-weight: bold; }

.btn {
  color: #f2f8fc !important;
  background-color: #194085 !important; }

.textColor {
  color: #dfe8f0 !important;
  font-weight: bold !important; }

p {
  color: #dfe8f0 !important; }

.textColorForSecondHeading h1 {
  color: #3e5d94 !important;
  text-align: center;
  font-weight: bold !important; }
.textColorForSecondHeading p {
  color: #133166 !important;
  text-align: center; }

@media (min-wdith: 1720px) and (max-width: 1920px) {
  .HomeBannerMainSection {
    background-image: url(../Images/1920_GigBackgroundFinal.svg);
    background-size: cover;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1024px;
    padding-top: 120px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 80px !important;
      margin-bottom: 0px; } }
@media (max-width: 1920px) {
  .HomeBannerMainSection {
    background-image: url(../Images/1920_GigBackgroundFinal.svg);
    background-size: cover;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1024px;
    padding-top: 120px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 80px !important;
      margin-bottom: 0px; } }
@media (min-width: 1366px) and (max-width: 1440px) {
  .HomeBannerMainSection {
    background-image: url(../Images/1440_GigBackgroundFinal.svg);
    background-size: cover;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    padding-top: 100px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 60px !important;
      margin-bottom: 0px; } }
@media (max-width: 1366px) {
  .HomeBannerMainSection {
    background-image: url(../Images/1360_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 700px;
    padding-top: 100px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 30px !important;
      margin-bottom: 0px; } }
@media (max-width: 768px) {
  .HomeBannerMainSection {
    background-image: url(../Images/768_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 850px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 0px !important; } }
@media (min-width: 300px) and (max-width: 550px) {
  .HomeBannerMainSection {
    background-image: url(../Images/768_GigBackgroundTest.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 900px; }
    .HomeBannerMainSection .textColorForSecondHeading {
      margin-top: 0px !important; } }
@media (min-width: 1920px) {
  .SecondHomeBanner {
    background-image: url(../Images/1920ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
    width: auto; } }
@media (min-width: 1360px) and (max-width: 1440px) {
  .SecondHomeBanner {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto; } }
@media (min-width: 1280px) and (max-width: 1360px) {
  .SecondHomeBanner {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto; } }
@media (min-width: 990px) and (max-width: 1280px) {
  .SecondHomeBanner {
    background-image: url(../Images/1440ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: auto; } }
@media (min-width: 768px) and (max-width: 990px) {
  .SecondHomeBanner {
    background-image: url(../Images/1024ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 300px;
    width: auto; } }
@media (min-width: 500px) and (max-width: 768px) {
  .SecondHomeBanner {
    background-image: url(../Images/768ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 400px;
    width: auto; } }
@media (min-width: 300px) and (max-width: 500px) {
  .SecondHomeBanner {
    background-image: url(../Images/530ExploratoinBanner.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 500px;
    width: auto; } }
.OurVisonmainBackground {
  background-image: url(../Images/OurVison.svg);
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 700px;
  width: auto; }

@media (min-width: 300px) and (max-width: 768px) {
  .OurVisonmainBackground {
    background-image: url(../Images/768OurVision.svg);
    background-size: cover;
    background-position: center;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 750px;
    width: auto; } }
.FooterMainBackground {
  background-image: url(../Images/Footer.svg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: center;
  width: 100%;
  height: 830px;
  flex-direction: row; }

@media (min-width: 1360px) and (max-width: 1920px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 1360px) and (max-width: 1440px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 990px) and (max-width: 1180px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer1180.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 800px) and (max-width: 990px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer990.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 769px) and (max-width: 800px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer769.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 830px;
    flex-direction: row; } }
@media (min-width: 500px) and (max-width: 767px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer500.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 1600px;
    flex-direction: row; } }
@media (min-width: 200px) and (max-width: 500px) {
  .FooterMainBackground {
    background-image: url(../Images/Footer500.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    width: 100%;
    height: 1600px;
    flex-direction: row; } }
.BackgroundAnimation {
  position: relative;
  top: 0px;
  left: 0px; }

.AnimationMainBackground {
  position: absolute;
  top: -150px;
  left: 0px;
  height: 500px;
  width: 500px;
  z-index: -1; }

.AnimationMainBackground lottie-player {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 500px;
  width: 500px; }

@media (min-width: 500px) and (max-width: 768px) {
  .BackgroundAnimation {
    position: relative;
    top: 0px;
    left: 0px; }

  .AnimationMainBackground {
    position: absolute;
    top: -100px;
    left: 0px;
    height: 500px;
    width: 500px;
    z-index: -1; }

  .AnimationMainBackground lottie-player {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 500px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .BackgroundAnimation {
    position: relative;
    top: 0px;
    left: 0px; }

  .AnimationMainBackground {
    position: absolute;
    top: -100px;
    left: 0px;
    height: 500px;
    width: 500px;
    z-index: -1; }

  .AnimationMainBackground lottie-player {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 500px;
    width: 500px; } }
    /*.QuizMainContent h1, p {
    position: absolute;
    top: 100px;
    left: 0px;
}*/
.AboutBannerMainSection {
  background-image: url(../Images/1440-AboutBanner.svg);
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 664px; }

@media (min-width: 1500px) and (max-width: 1920px) {
  .AboutBannerMainSection {
    background-image: url(../Images/1440-AboutBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 1024px; } }
@media (max-width: 990px) {
  .AboutBannerMainSection {
    background-image: url(../Images/1000-AboutBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 664px;
    padding-top: 100px; } }
@media (min-width: 500px) and (max-width: 768px) {
  .AboutBannerMainSection {
    background-image: url(../Images/780-AboutBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 870px;
    padding-top: 100px; } }
@media (min-width: 300px) and (max-width: 500px) {
  .AboutBannerMainSection {
    background-image: url(../Images/500-AboutBanner.svg);
    background-size: cover;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 930px;
    padding-top: 100px; } }
.UserBenefitsBackground {
  background-image: url(../Images/UserBenefits.svg);
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 500px;
  margin-top: 20px; }

/*# sourceMappingURL=Site.css.map */
