@model IEnumerable<ViewModel.CourseContentsViewModel>

@{
    ViewBag.Title = "Course Contents";
}

<div class="card">
    <h3 class="card-header blue-gradient white-text text-uppercase font-weight-normal text-center py-4">
        Course Contents
    </h3>
    <div class="card-body">
        <a class="btn btn-info btn-rounded btn-md" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("Create","CourseContents",new { Area="ALOTAdmin"})')"><i class="fa fa-plus"></i> Add New Record</a>
        <div class="table-responsive">
            <table id="dataTable" class="table table-hover table-responsive-sm">
                <thead class="">
                    <tr>
                        <th scope="col" class="text-primary"><i class="fas fa-sort-numeric-down"></i># </th>
                        <th scope="col" class="text-primary"><i class="fas fa-newspaper"></i> Main Title </th>
                        <th scope="col" class="text-primary"><i class="far fa-newspaper"></i> Title </th>
                        <th scope="col" class="text-primary"><i class="fas fa-sign-in-alt"></i> Animation link </th>
                        <th scope="col" class="text-primary"><i class="fas fa-tools"></i> Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        @*<p class="text-small text-muted mb-0 pt-3">* At vero eos et accusamus et iusto ducimus.</p>*@
    </div>
</div>



@section scripts{
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#dataTable").DataTable({
                "info": false,
                "responsive": true,
                "fixedHeader": true,
                fixedColumns: true,

                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],

                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5', footer: true,

                    },
                    { extend: 'excelHtml5', footer: true, download: 'open' },
                    { extend: 'csvHtml5', footer: true, download: 'open' },
                    { extend: 'pdfHtml5', footer: true, download: 'open' },

                ],
                "ajax": {
                    "url": "/ALOTAdmin/CourseContents/GetCourseContentsData",
                    "type": "GET",
                    "datatype": "json",


                },

                "columns": [
                    { "data": "Id" },
                    { "data": "MainTitle" },
                    { "data": "Title" },
                    { "data": "AnimationUrl" },


                    {
                        "data": "actions",
                        "className": "dt-body-center",
                        "data": "Id", "render": function (data)

                        {
                            return "<a class='btn btn-info btn-md btn-rounded' onclick=PopupForm('@Url.Action("Edit", "CourseContents")/" + data + "')><i class='far fa-edit'></i></a> | <a class='btn btn-default btn-md btn-rounded' onclick=PopupForm('@Url.Action("Details", "CourseContents")/" + data + "')><i class='fas fa-info-circle'> </i></a> | <a class='btn btn-danger btn-md btn-rounded' style='margin-left:5px' onclick=Delete("+data+")><i class='fa fa-trash'></i></a>";
                    },
                        "orderable": false,
                        "searchable":false,

                    }

                ],
                "language": {

                    "emptyTable" : "No data found, Please click on <b>Add New</b> Button"
                }
            });
        });



        function PopupForm(url) {

            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        modal: true,

                        open: function () {
                            overlayOpacityNormal = $('.ui-widget-overlay').css('opacity');
                            $('.ui-widget-overlay').css('opacity', .9);
                        },

                        beforeClose: function () {
                            $('.ui-widget-overlay').css('opacity', .9);
                        },
                        autoOpen: true,
                        resizable: true,
                        title: 'Entry Form',
                        height: 500,


                        width: 900,


                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }
        function SubmitFormCreate(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });


                        }
                    }
                });
            }
            return false;
        }

        function SubmitFormEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });


                        }
                    }
                });
            }
            return false;
        }
        function SubmitFormDetails(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            });


                        }
                    }
                });
            }
            return false;
        }
        function Delete(id) {
            if (confirm('Are You Sure to Delete this  Record ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "CourseContents")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }



    </script>

}


