@{
    ViewBag.Title = "Email confirmed";
    Layout = "~/Views/Shared/_LoingLayout.cshtml";
}


<div class="LoginMainBackground">
    <div class="container">

        <div class="row">

            <div class="col-md-7">
                <div class="card card-body my-5 py-5 bg-transparent" id="WhoIsThisProgramFor">

                    <h5 class="card-title text-primary"><i class="fas fa-check-circle"></i> @ViewBag.Message.</h5>
                    <p class="card-text text-white-50">
                        Thank you for confirming your email.  <a href="/Login" class="btn btn-rounded btn-md"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </p>
                   
                </div>
                <!-- Card -->
            </div>
            <div class="col-md-5">
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_9xrenieu.json" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
            </div>

        </div>

    </div>
</div>


