@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}


<div class="LoginMainBackground">
    <div class="container">

        <div class="row">

            <div class="col-md-7 my-2">
                <div class="card card-body my-5 py-5 bg-transparent" id="WhoIsThisProgramFor">
                    <h3 class="card-title text-white-50">@ViewBag.Title</h3>
                    
                    <p class="card-text text-white-50">
                        Please check your email to reset your password.
                    </p>
                    
                </div>
                <!-- Card -->

            </div>
            <div class="col-md-5">
                
                    <img class="img-fluid" src="~/Content/Images/Links.svg" />
               
            </div>

        </div>

    </div>
</div>

