@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoingLayout.cshtml";
}


<div class="LoginMainBackground">
    <div class="container">

        <div class="row">

            <div class="col-md-7 my-5">
                <div class="card card-body my-5 py-5 bg-transparent" id="WhoIsThisProgramFor">
                    <h3 class="card-title text-white">@ViewBag.Title</h3>
                    
                    <p class="card-text text-white">
                        Please check your email to reset your password.
                    </p>
                    
                </div>
                <!-- Card -->

            </div>
            <div class="col-md-5">
                <div class="img-fluid">
                    <img src="~/Content/Images/Links.svg" />
                </div>
            </div>

        </div>

    </div>
</div>

