@{
    ViewBag.Title = "Your password changed succesfully";
    Layout = "~/Views/Shared/_LayoutForLogin.cshtml";
}


<div class="LoginMainBackground">
    <div class="container">

        <div class="row">

            <div class="col-md-7 my-5">
                <div class="card card-body my-5 py-5 bg-transparent" id="WhoIsThisProgramFor">

                    <h5 class="card-title text-primary"><i class="fas fa-check-circle"></i> @ViewBag.Title.</h5>
                    <p class="card-text text-white-50">
                        Thank you for confirming your email. Please login<a href="/Login" class="btn btn-rounded btn-md"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </p>
                </div>
                <!-- Card -->
            </div>
            <div class="col-md-5">
                <div class="img-fluid">
                    <img src="~/Content/Images/ResetConfirmation.svg" />
                </div>
            </div>

        </div>

    </div>
</div>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
