@model ViewModel.HomeExplorationBannerViewModel


@if(Model?.Id !=null)
{
   
<div class="SecondHomeBanner">
    <div class="container">


        <!--Section: Content-->
        <section class="dark-grey-text">

            <div class="row">
                <div class="col-md-12 col-lg-12 text-lg-center text-lg-center">

                    <div class="d-flex align-items-center pt-5 HomebannerExplorationTextColor">
                        <div>
                            <h1 class="display-2  mb-4">@Model.MainTitle</h1>
                            <p class="text-justify  mr-md-5 ml-md-5 mr-lg-5 ml-lg-5 mr-sm-auto ml-sm-auto ">@Model.SubTitle</p>
                        </div>
                    </div>

                </div>
                
            </div>

        </section>
        <!--Section: Content-->


    </div>
</div>
   
}
