@model ViewModel.HomeExplorationBannerViewModel


@if(Model?.Id !=null)
{
   
<div class="SecondHomeBanner">
    <div class="container">


        <!--Section: Content-->
        <section class="dark-grey-text">

            <div class="row">
                <div class="col-md-12 col-lg-12   text-center">

                    <div class="d-flex align-items-center pt-5 HomebannerExplorationTextColor">
                        <div>
                            <div class="display-2  mb-4">@Model.MainTitle</div>
                            <p>@Model.SubTitle</p>
                        </div>
                    </div>

                </div>
                
            </div>

        </section>
        <!--Section: Content-->


    </div>
</div>
   
}
