@model ViewModel.ListOfViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashbaord.cshtml";
}

<div class="DashboardBack">
    <div class="my-5 py-5">
        @if (Model.ListofDashboard != null)
        {
            if (User.Identity.IsAuthenticated)
            {
                foreach (var item in Model.ListofDashboard.Take(1))
                {
                    <div class="container">


                        <!--Section: Content-->
                        <section class="dark-grey-text">

                            <div class="row pr-lg-5 offset-md-0 offset-lg-2 offset-xl-2 offset-sm-0">
                                <div class="col-md-6 mt-lg-n5">

                                    <div class="img-fluid">
                                        <lottie-player src="@item.AnimationLink" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>
                                    </div>

                                </div>
                                <div class="col-md-6 d-flex align-items-center text-center text-lg-left text-md-left">
                                    <div>

                                        <h4 class="mb-2 text-white-50">@item.MainTitle</h4>
                                        <h6>@item.Title</h6>

                                        <p class="text-wrap ">@item.Content</p>

                                        <a class="btn btn-rounded btn-sm" href="#">Create my first class </a>

                                    </div>
                                </div>
                            </div>

                        </section>
                        <!--Section: Content-->


                    </div>
                }
            }
        }

        @section scripts{
            <script>
                $(document).ready(function () {
                    $(".button-collapse").sideNav({
                        breakpoint: 1200
                    });
                    // SideNav Scrollbar Initialization
                    var sideNavScrollbar = document.querySelector('.custom-scrollbar');
                    var ps = new PerfectScrollbar(sideNavScrollbar);
                });
            </script>
        }
    </div>
</div>



