
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_CustomErrorLayout.cshtml";
}

<div class="LoginMainBackground">
    <div class="container">

        <div class="row">

            <div class="col-md-7 my-auto col-sm-12">
                <div class="card card-body my-2 py-5 bg-transparent" id="WhoIsThisProgramFor">
                    <h4 class="card-title text-danger"> Opps! 404-Page not found</h4>

                    <h6 class="card-title text-primary">
                        You have reached the end of the internet.
                        There's nothing here.
                    </h6>
                    <div class=" hr-light "></div>
                    <div class=" mb-0 mt-3 pb-0 ">
                        <a href="/Home" class="btn btn-rounded btn-sm">Take me home!</a>
                        <a href="/Contact" class="btn btn-rounded btn-sm">Report the problem</a>
                    </div>
                </div>
                <!-- Card -->

            </div>
            <div class="col-md-5 col-sm-12">

                <lottie-player class="img-fluid" src="https://assets1.lottiefiles.com/packages/lf20_2CR7VT.json" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>

            </div>

        </div>

    </div>
</div>


