@model ViewModel.BaseViewModel
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right textColor">
            <li class="pt-2">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a class="" href="javascript:document.getElementById('logoutForm').submit()"><span class="btn btn-rounded btn-sm">Log off</span></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class=""><a class="nav-link ml-auto" href="/Login"><span class="btn btn-transparent btn-outline-white btn-rounded  btn-md"> Sign In <i class="fas fa-unlock"></i> </span></a></li>
        <li class=""><a class="nav-link ml-auto" href="/Authrization"><span class="btn btn-transparent  btn-outline-white  btn-rounded btn-md"> Sign Up <i class="fas fa-key"></i> </span></a></li>
       
    </ul>
}
