
@{ 
    Layout = "~/Views/Shared/_CustomErrorLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="LoginMainBackground">
        <div class="container">

            <div class="row">

                <div class="col-md-7 my-auto col-sm-12">
                    <div class="card card-body my-2 py-5 bg-transparent" id="WhoIsThisProgramFor">
                        <h3 class="card-title text-danger"> Opps, something went wrong.</h3>
                        <h5 class="card-title text-primary">We'll get back soon, Our technical team are working to fix the error. </h5>
                      

                    </div>
                    <!-- Card -->

                </div>
                <div class="col-md-5 col-sm-12">
                    
                    <lottie-player class="img-fluid" src="https://assets1.lottiefiles.com/packages/lf20_QqBMf0.json" background="transparent" speed="1" style="width: auto; height: auto;" loop autoplay></lottie-player>

                </div>

            </div>

        </div>
    </div>
</body>
</html>
